
<html>
    <head>
        <meta charset="UTF-8">
        <title>Recordatorio de Pago Pendiente</title>
    </head>
    <body style="font-family: Arial, sans-serif; text-align: left; padding: 20px; color: black;">

        <div style="font-family: Arial, sans-serif; text-align: left; padding: 20px;">
            <h2>Estimado {nombre_colegio},</h2>
            <p>Esperamos que se encuentre bien. <br>Nos gustaría presentarle nuestras opciones de materiales promocionales para su institución, que incluyen:</p>

            <ul>
                <li>Logotipos personalizados</li>
                <li>Uniformes a medida</li>
                <li>Pines distintivos</li>
                <li>Corbatas con su imagen corporativa</li>
                <li>Bordados de alta calidad</li>
                <li>Y mucho más, todo adaptado a sus necesidades.</li>
            </ul>

            <p>Estamos comprometidos en ofrecerle productos de excelente calidad para ayudar a reforzar la imagen de su institución. <br>No dude en ponerse en contacto con nosotros para obtener más información o para realizar su pedido.</p>

            <p>¡Esperamos poder trabajar juntos pronto!</p>
            <p>Atentamente,<br>James Miller,<br><strong>Logotex Panamá S.A.</strong></p>
            <img src="cid:logo" alt="Logotex Logo" style="display: block; margin-top: 20px;"/>
        </div>
        
    </body>
</html>

