
<html>
    <head>
        <meta charset="UTF-8">
        <title>Payment Reminder</title>
    </head>
    <body style="font-family: Arial, sans-serif; text-align: left; padding: 20px; color: black;">

        <div style="font-family: Arial, sans-serif; text-align: left; padding: 20px;">
            <h2>Dear {nombre_colegio},</h2>
            <p>We hope this message finds you well. <br>We would like to remind you that you have an outstanding balance with our company:</p>
            <ul>
                <li><strong>Amount owed:</strong> {signo}{cantidad_deuda:.2f}</li>
                <li><strong>Product delivered:</strong> {producto_entregado}</li>
                <li><strong>Delivery date:</strong> {fecha_entrega}</li>
            </ul>
            <p>
                Please get in touch with us to settle your account. <br>Thank you very much.
            </p>
            <p>Best regards,<br>James Miller,<br><strong>Logotex Panamá S.A.</strong></p>
                <img src="cid:logo" alt="Logotex Logo" style="display: block; margin-top: 20px;"/>
        </div>
    <footer style="text-align: center; margin-top: 20px;">
        <img src="cid:footer_image" alt="Pie de página" style="width: 100%; max-width: 600px;"/>
    </footer>
    </body>
</html>

