
<html>
    <head>
        <meta charset="UTF-8">
        <title>Rappel de Paiement en Souffrance</title>
    </head>
    <body style="font-family: Arial, sans-serif; text-align: left; padding: 20px; color: black;">

    <div style="font-family: Arial, sans-serif; text-align: left; padding: 20px;">
        <h2>Cher/Chère {nombre_colegio},</h2>
        <p>Nous espérons que ce message vous trouve en bonne santé. <br>Nous souhaitons vous rappeler que vous avez un solde en souffrance avec notre entreprise :</p>
        <ul>
            <li><strong>Montant dû :</strong> {signo}{cantidad_deuda:.2f}</li>
            <li><strong>Produit livré :</strong> {producto_entregado}</li>
            <li><strong>Date de livraison :</strong> {fecha_entrega}</li>
        </ul>
        <p>
            Veuillez nous contacter pour régulariser votre situation. <br>Merci beaucoup.
        </p>
        <p>Cordialement,<br>James Miller,<br><strong>Logotex Panamá S.A.</strong></p>

            <img src="cid:logo" alt="Logotex Logo" style="display: block; margin-top: 20px;"/>
        </div>
        <footer style="text-align: center; margin-top: 20px;">
            <img src="cid:footer_image" alt="Pie de página" style="width: 100%; max-width: 600px;"/>
        </footer>
    </body>
</html>

